<app-loder *ngIf="loadingPage"></app-loder>
<!-- Language Switcher -->
<div [class]="lang === 'ar'? 'language-switcher':'language-switcher-ar'">
    <button id="langToggle" (click)="switchLanguage(lang === 'ar'? 'en':'ar')"
        class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-full shadow-md transition">
        <i [class]="lang === 'ar'? 'fas fa-language mr-2':'fas fa-language ml-2'"></i> {{lang === 'ar'?
        'English':'عربي'}}
    </button>
</div>

<div [dir]="lang === 'ar'? 'rtl':'ltr'">
    <!-- Header -->
    <header class="bg-white shadow-md sticky top-0 z-50">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <h1 class="text-2xl font-bold text-blue-600">{{lang === 'ar'? me.name_ar:me.name_en}}</h1>
            <nav class="hidden md:flex space-x-8 space-x-reverse">
                <a href="#about" class="nav-link hover:text-blue-600">{{'MAIN_MENU.ABOUT' | translate}}</a>
                <a href="#experience" class="nav-link hover:text-blue-600">{{'MAIN_MENU.EXPERIENCE' | translate}}</a>
                <a href="#education" class="nav-link hover:text-blue-600">{{'MAIN_MENU.EDUCATION' | translate}}</a>
                <a href="#gallery" class="nav-link hover:text-blue-600">{{'MAIN_MENU.GALLERY' | translate}}</a>
                <a href="#achievements" class="nav-link hover:text-blue-600">{{'MAIN_MENU.ACHIEVEMENTS' |
                    translate}}</a>
                <a href="#projects" class="nav-link hover:text-blue-600">{{'MAIN_MENU.PROJECTS' | translate}}</a>
                <a href="#hobbies" class="nav-link hover:text-blue-600">{{'MAIN_MENU.HOBBIES' | translate}}</a>
                <a href="#contact" class="nav-link hover:text-blue-600">{{'MAIN_MENU.CONTACT' | translate}}</a>
            </nav>
            <button (click)="toggleMenu()" class="md:hidden text-blue-600" id="menu-toggle">
                <i class="fas fa-bars text-2xl"></i>
            </button>
        </div>
        <!-- Mobile Menu -->
        <div [class]="openMenu ? 'md:hidden bg-white w-full py-2 px-4 shadow-lg': 'md:hidden hidden bg-white w-full py-2 px-4 shadow-lg'"
            id="mobile-menu">
            <a (click)="toggleMenu(true)" href="#about" class="block py-2 hover:text-blue-600">{{'MAIN_MENU.ABOUT' |
                translate}}</a>
            <a (click)="toggleMenu(true)" href="#experience"
                class="block py-2 hover:text-blue-600">{{'MAIN_MENU.EXPERIENCE' | translate}}</a>
            <a (click)="toggleMenu(true)" href="#education"
                class="block py-2 hover:text-blue-600">{{'MAIN_MENU.EDUCATION' | translate}}</a>
            <a (click)="toggleMenu(true)" href="#gallery" class="block py-2 hover:text-blue-600">{{'MAIN_MENU.GALLERY' |
                translate}}</a>
            <a (click)="toggleMenu(true)" href="#achievements"
                class="block py-2 hover:text-blue-600">{{'MAIN_MENU.ACHIEVEMENTS' | translate}}</a>
            <a (click)="toggleMenu(true)" href="#projects" class="block py-2 hover:text-blue-600">{{'MAIN_MENU.PROJECTS'
                | translate}}</a>
            <a (click)="toggleMenu(true)" href="#hobbies" class="block py-2 hover:text-blue-600">{{'MAIN_MENU.HOBBIES' |
                translate}}</a>
            <a (click)="toggleMenu(true)" href="#contact" class="block py-2 hover:text-blue-600">{{'MAIN_MENU.CONTACT' |
                translate}}</a>
        </div>
    </header>

    <!-- Hero Section -->
    <section class="bg-gradient-to-r from-blue-500 to-blue-700 text-white py-20">
        <div class="container mx-auto px-4 flex flex-col md:flex-row items-center">
            <div class="md:w-1/2 mb-10 md:mb-0">
                <h1 class="text-4xl md:text-5xl font-bold mb-4">{{lang === 'ar'? me.name_ar:me.name_en}}</h1>
                <div class="h-12 overflow-hidden relative">
                    <div *ngFor="let item of me.job_titles" class="job-title absolute">{{lang === 'ar'? item.name_ar :
                        item.name_en}}</div>
                    <!-- <div class="job-title absolute">متخصص التسويق والاستثمار الرياضي</div>
                    <div class="job-title absolute">ممثل العلاقات العامة لدى شركة الأحساء للسياحية والترفيه</div>
                    <div class="job-title absolute">عضو مجلس إدارة جمعية سند للمسؤولية الاجتماعية</div>
                    <div class="job-title absolute">مدير العلاقات العامة والتواصل المؤسسي في جمعية سند</div> -->
                </div>
                <div class="flex space-x-4 space-x-reverse mt-6">
                    <a [href]="me.social_links[1]?.url? me.social_links[1]?.url: '#'" target="_blank"
                        class="bg-white text-blue-600 px-6 py-2 mx-2 rounded-full font-medium hover:bg-gray-100">
                        {{'BUTTONS.CONTACT_ME' | translate}}
                    </a>
                    <!-- <a href="#achievements"
                        class="border border-white px-6 py-2 rounded-full font-medium hover:bg-white hover:text-blue-600">{{'BUTTONS.MY_ACHIEVEMENTS'
                        | translate}}</a> -->
                    <a (click)="printCv()"
                        class="border border-white cursor-pointer px-6 py-2 rounded-full font-medium hover:bg-white hover:text-blue-600"><i
                            class="fas fa-download mx-1"></i>{{'BUTTONS.DOWNLOAD_CV'
                        | translate}}</a>
                </div>
            </div>
            <div class="md:w-1/2 flex justify-center">
                <div class="w-64 h-64 md:w-80 md:h-80 rounded-full border-4 border-white overflow-hidden shadow-xl">
                    <img [src]="me.profile_picture" [alt]="lang === 'ar'? me.name_ar :
                        me.name_en" class="w-full h-full object-cover">
                </div>
            </div>
        </div>
    </section>

    <section id="statistics" class="section py-16 bg-white">
        <app-statistics [me]="me"></app-statistics>
    </section>

    <!-- About Section -->
    <section id="about" class="section py-16 bg-white">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold mb-8 text-center border-b-2 border-blue-600 pb-2 inline-block">
                {{'MAIN_MENU.ABOUT' | translate}}</h2>

            <div class="flex flex-col md:flex-row gap-8">
                <div class="md:w-1/2">
                    <h3 class="text-2xl font-semibold mb-4">{{'LABELS.PROFESSIONAL_EXPERIENCE' | translate}}</h3>
                    <div [innerHtml]="lang==='ar'? me.bio_ar : me.bio_en"></div>
                    <div class="flex space-x-4 space-x-reverse mt-8">
                        <a *ngFor="let item of me.social_links"
                            [matTooltip]="(lang === 'ar'? item.name_ar : item.name_en) + ': '+ item.username"
                            [href]="item.url" target="_blank"
                            class="bg-blue-100 text-blue-600 p-3 rounded-full hover:bg-blue-200">
                            <i [class]="item.icon"></i>
                        </a>
                        <!-- <a href="#" class="bg-blue-100 text-blue-600 p-3 rounded-full hover:bg-blue-200">
                            <i class="fab fa-linkedin text-xl"></i>
                        </a>
                        <a href="#" class="bg-blue-100 text-blue-600 p-3 rounded-full hover:bg-blue-200">
                            <i class="fab fa-instagram text-xl"></i>
                        </a>
                        <a href="#" class="bg-blue-100 text-blue-600 p-3 rounded-full hover:bg-blue-200">
                            <i class="fab fa-snapchat text-xl"></i>
                        </a> -->
                    </div>
                </div>

                <div class="md:w-1/2 bg-gray-50 p-6 rounded-lg shadow-sm">
                    <h3 class="text-2xl font-semibold mb-4">{{'MAIN_MENU.FEATURED_PROJECTS' | translate}}</h3>
                    <div class="space-y-4">
                        <div *ngFor="let project of featureds" class="flex items-start">
                            <div
                                [class]=" lang === 'ar'? 'bg-blue-100 text-blue-600 p-2 rounded-full ml-4':'bg-blue-100 text-blue-600 p-2 rounded-full mr-4'">
                                <i [class]="project.icon"></i>
                            </div>
                            <div>
                                <h4 class="font-medium">{{lang === 'ar'? project.name_ar : project.name_en}}</h4>
                                <p class="text-gray-600 text-sm">{{lang === 'ar'? project.description_ar :
                                    project.description_en}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Experience Section -->
    <section id="experience" class="section py-16 bg-gray-50">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold mb-8 text-center border-b-2 border-blue-600 pb-2 inline-block">
                {{'MAIN_MENU.PROFESSIONAL_EXPERIENCE' | translate}}
            </h2>
            <div class="grid md:grid-cols-2 gap-8">
                <div *ngFor="let item of me.experiences" class="bg-white p-6 rounded-lg shadow-sm">
                    <div class="flex items-center mb-4">
                        <div
                            [class]="lang === 'ar'? 'bg-blue-100 text-blue-600 p-3 rounded-full ml-4':'bg-blue-100 text-blue-600 p-3 rounded-full mr-4'">
                            <i [class]="item.icon"></i>
                        </div>
                        <h3 class="text-xl font-semibold">{{lang === 'ar'? item.title_ar : item.title_en}}</h3>
                    </div>
                    <p class="text-gray-700">
                        {{lang === 'ar'? item.description_ar: item.description_en}}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Education Section -->
    <section id="education" class="section py-16 bg-white">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold mb-8 text-center border-b-2 border-blue-600 pb-2 inline-block">
                {{'MAIN_MENU.EDUCATION' | translate}}</h2>

            <div class="grid md:grid-cols-2 gap-8">
                <div *ngFor="let item of me.education" class="bg-gray-50 p-6 rounded-lg shadow-sm">
                    <div class="flex items-center mb-4">
                        <div
                            [class]="lang === 'ar'? 'bg-blue-100 text-blue-600 p-3 rounded-full ml-4':'bg-blue-100 text-blue-600 p-3 rounded-full mr-4'">
                            <i [class]="item.icon"></i>
                        </div>
                        <h3 class="text-xl font-semibold">{{'DEGREE_TYPE.' + item.degree_type | translate}} - {{lang ===
                            'ar'? item.university_ar: item.university_en}}</h3>
                    </div>
                    <div class="space-y-2">
                        <div *ngIf="item.major_ar" class="flex justify-between">
                            <span class="text-gray-600">{{'LABELS.MAJOR' | translate}}:</span>
                            <span class="font-medium">{{lang === 'ar'? item.major_ar: item.major_en}}</span>
                        </div>
                        <div class="flex justify-between">
                            <span class="text-gray-600">{{'LABELS.GPA' | translate}}:</span>
                            <span class="font-medium">{{item.gpa}} / {{item.max_gpa}}</span>
                        </div>
                        <div class="flex justify-between">
                            <span class="text-gray-600">{{'LABELS.START_DATE' | translate}}:</span>
                            <span class="font-medium">{{item.start_date? (item.start_date | date:formatDate):
                                ('LABELS.UNSPECIFIED' | translate)}}</span>
                        </div>
                        <div class="flex justify-between">
                            <span class="text-gray-600">{{'LABELS.END_DATE' | translate}}:</span>
                            <span class="font-medium">{{item.graduation_date? (item.graduation_date | date:formatDate):
                                ('LABELS.UNSPECIFIED' | translate)}}</span>
                        </div>
                        <div class="flex justify-between">
                            <span class="text-gray-600">{{'LABELS.JOINING_YEAR' | translate}}:</span>
                            <span class="font-medium">{{item.join_year}} - {{item.graduation_year? item.graduation_year
                                : ('LABELS.CURRENTLY' | translate)}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Gallery Section -->
    <section id="gallery" class="section py-16 bg-gray-50">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold text-center border-b-2 border-blue-600 pb-2 inline-block">
                {{ 'MAIN_MENU.GALLERY' | translate }}
            </h2>

            <!-- Gallery Filters -->
            <!-- <div class="flex flex-wrap justify-center gap-2 mb-8">
                <button class="px-4 py-2 bg-blue-600 text-white rounded-full hover:bg-blue-700" data-filter="all">{{
                    'GALLERY_FILTER.ALL'
                    | translate }}</button>
                <button class="px-4 py-2 bg-white rounded-full hover:bg-gray-100" data-filter="PUBLIC_RELATIONS">{{
                    'GALLERY_FILTER.PUBLIC_RELATIONS' |
                    translate }}</button>
                <button class="px-4 py-2 bg-white rounded-full hover:bg-gray-100" data-filter="SPORTS_MARKETING">{{
                    'GALLERY_FILTER.SPORTS_MARKETING' |
                    translate }}</button>
                <button class="px-4 py-2 bg-white rounded-full hover:bg-gray-100" data-filter="TOURISM">{{
                    'GALLERY_FILTER.TOURISM' |
                    translate }}</button>
                <button class="px-4 py-2 bg-white rounded-full hover:bg-gray-100" data-filter="AWARDS">{{
                    'GALLERY_FILTER.AWARDS' | translate
                    }}</button>
                <button class="px-4 py-2 bg-white rounded-full hover:bg-gray-100" data-filter="EQUESTRIAN">{{
                    'GALLERY_FILTER.EQUESTRIAN' |
                    translate }}</button>
                <button class="px-4 py-2 bg-white rounded-full hover:bg-gray-100" data-filter="SPORTS_ACTIVITIES">{{
                    'GALLERY_FILTER.SPORTS_EVENTS' |
                    translate }}</button>
                <button class="px-4 py-2 bg-white rounded-full hover:bg-gray-100" data-filter="CULTURAL_PROGRAMS">{{
                    'GALLERY_FILTER.CULTURAL_PROGRAMS'
                    | translate }}</button>
            </div> -->

            <!-- Gallery Grid -->
            <!-- <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                <div *ngFor="let item of me.media_gallery" [attr.data-category]="item.category"
                    class="gallery-item rounded-lg overflow-hidden shadow-md">
                    <img [src]="item.image" [alt]="lang === 'ar'? item.description_ar : item.description_en"
                        class="w-full h-48 object-cover">
                    <div class="p-3 bg-white">
                        <p class="text-sm font-medium">{{lang === 'ar'? item.description_ar : item.description_en}}</p>
                    </div>
                </div>
            </div> -->

            <app-media-gallery [lang]="lang"></app-media-gallery>

            <!-- <div class="text-center mt-8">
                <button class="px-6 py-2 bg-blue-600 text-white rounded-full hover:bg-blue-700">عرض المزيد</button>
            </div> -->
        </div>
    </section>

    <!-- Achievements Section -->
    <section id="achievements" class="section py-16 bg-white">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold mb-8 text-center border-b-2 border-blue-600 pb-2 inline-block">{{
                'MAIN_MENU.ACHIEVEMENTS_AND_CERTIFICATES' | translate }}</h2>

            <!-- Achievement Filters -->
            <div class="flex flex-wrap justify-center gap-2 mb-8">
                <button
                    *ngFor="let filter of ['ALL', 'FOOTBALL_PARTICIPATIONS', 'EQUESTRIAN_PARTICIPATIONS', 'TOURISM_PARTICIPATIONS', 'AWARDS_AND_MEDALS', 'CERTIFICATES_OF_APPRECIATION', 'TRAINING_AND_COURSES', 'GENERAL_ACHIEVEMENTS']"
                    (click)="activeFilter = filter"
                    [class]="activeFilter === filter? 'px-4 py-2 bg-blue-600 text-white rounded-full hover:bg-blue-700' : 'px-4 py-2 bg-white rounded-full hover:bg-gray-100'"
                    data-filter="all">
                    {{ 'ACHIEVEMENTS_FILTER.' +filter | translate }}
                </button>
            </div>

            <form class="example-form mt-5">
                <mat-form-field class="example-full-width">
                    <mat-label>{{'LABELS.SEARCH' | translate}}</mat-label>
                    <input matInput #search (keyup)="loading()" maxlength="256"
                        [placeholder]="'PLACEHOLDERS.ACHIEVEMENTS_AND_CERTIFICATES' | translate">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <mat-progress-bar mode="query" *ngIf="_loading"></mat-progress-bar>
            </form>

            <!-- Achievements Grid -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                <!-- دوران الإنجازات -->
                <div *ngFor="let item of filteredItems() | achievementsSearch: search.value"
                    (click)="openAchievementDialog(item)"
                    class="cursor-pointer achievement-card bg-gray-50 rounded-lg overflow-hidden shadow-sm">
                    <div class="h-40 bg-blue-100 flex items-center justify-center">
                        <i [class]="item.icon"></i>
                    </div>
                    <div class="p-4">
                        <h3 class="font-bold text-lg mb-2">{{lang === 'ar'? item.name_ar : item.name_en}}</h3>
                        <p class="text-gray-600 text-sm mb-4">
                            <i [class]="lang === 'ar'? 'fas fa-calendar-alt ml-1' :'fas fa-calendar-alt mr-1'"></i>
                            {{item.dated | date: formatDate}} - {{item.dated_hijri? item.dated_hijri : ''}}
                        </p>
                        <div class="flex flex-wrap gap-3 mt-4">
                            <span class="bg-blue-500 bg-opacity-30 px-3 py-1 rounded-full text-sm flex items-center">
                                <i [class]="lang === 'ar'? 'fas fa-clock ml-1' :'fas fa-clock mr-1'"></i> {{item.dated |
                                getMoment}}
                            </span>
                            <span class="bg-blue-500 bg-opacity-30 px-3 py-1 rounded-full text-sm flex items-center">
                                <i [class]="lang === 'ar'? 'fas fa-layer-group ml-1' :'fas fa-layer-group mr-1'"></i>
                                {{'ACHIEVEMENTS_FILTER.' + item.category | translate}}
                            </span>
                            <span *ngIf="item.certified_ar"
                                class="bg-blue-500 bg-opacity-30 px-3 py-1 rounded-full text-sm flex items-center">
                                <i [class]="lang === 'ar'? 'fas fa-building ml-1' :'fas fa-building mr-1'"></i>
                                {{lang === 'ar'? item.certified_ar : item.certified_en}}
                            </span>
                            <span *ngIf="item.id"
                                class="bg-blue-500 bg-opacity-30 px-3 py-1 rounded-full text-sm flex items-center">
                                <i [class]="lang === 'ar'? 'fas fa-hashtag ml-1' :'fas fa-hashtag mr-1'"></i>
                                {{item.id}}
                            </span>
                        </div>
                        <button class="text-blue-600 my-2 font-medium hover:underline">{{'BUTTONS.VIEW_CERTIFICATE' |
                            translate}}</button>
                    </div>
                </div>

                <app-not-found
                    *ngIf="(filteredItems() | achievementsSearch: search.value)?.length === 0"></app-not-found>
            </div>
        </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="section py-16 bg-gray-50">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold mb-8 text-center border-b-2 border-blue-600 pb-2 inline-block">
                {{'MAIN_MENU.PROJECTS' | translate}}</h2>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <!-- AI Project 1 -->
                <div *ngFor="let item of me.projects" class="bg-white p-6 rounded-lg shadow-sm">
                    <div class="flex items-center mb-4">
                        <div
                            [class]="lang === 'ar'? 'bg-blue-100 text-blue-600 p-3 rounded-full ml-4':'bg-blue-100 text-blue-600 p-3 rounded-full mr-4'">
                            <i [class]="item.icon"></i>
                        </div>
                        <h3 class="text-xl font-semibold">{{lang==='ar'? item.name_ar:item.name_en}}</h3>
                    </div>
                    <p [innerHtml]="lang === 'ar'? item.description_ar : item.description_en"
                        class="text-gray-700 mb-4">
                    </p>
                    <div class="flex flex-wrap gap-2">
                        <span *ngFor="let subitem of item.categories"
                            class="bg-blue-100 text-blue-600 px-3 py-1 rounded-full text-sm">{{'CATEGORIES.' + subitem |
                            translate}}</span>
                        <!-- <span class="bg-blue-100 text-blue-600 px-3 py-1 rounded-full text-sm">تحليل المشاعر</span>
                        <span class="bg-blue-100 text-blue-600 px-3 py-1 rounded-full text-sm">التواصل المؤسسي</span> -->
                    </div>
                </div>


            </div>
        </div>
    </section>

    <!-- Hobbies Section -->
    <section id="hobbies" class="section py-16 bg-white">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold mb-8 text-center border-b-2 border-blue-600 pb-2 inline-block">{{
                'MAIN_MENU.HOBBIES' | translate }}</h2>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <!-- Football Hobby -->
                <div *ngFor="let item of me.hobbies"
                    class="text-center p-6 bg-gray-50 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    <div class="hobby-icon">
                        <i [class]="item.icon"></i>
                    </div>
                    <h3 class="text-xl font-semibold mb-2">{{lang === 'ar'? item.name_ar : item.name_en}}</h3>
                    <p class="text-gray-600">
                        {{lang === 'ar'? item.description_ar : item.description_en}}
                    </p>
                    <!-- <div class="mt-4">
                        <img [src]="item.image" [alt]="lang === 'ar'? item.name_ar : item.name_en"
                            class="w-full h-32 object-cover rounded">
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="section py-16 bg-gray-50">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold mb-8 text-center border-b-2 border-blue-600 pb-2 inline-block">
                {{ 'MAIN_MENU.CONTACT_INFO' | translate }}
            </h2>

            <div class="grid md:grid-cols-2 gap-8">
                <!-- Contact Info -->
                <div class="bg-white p-6 rounded-lg shadow-sm">
                    <h3 class="text-xl font-semibold mb-4">{{'MENU_COMMENTS.CONTACT_INFO' | translate}}</h3>

                    <div class="space-y-4">
                        <div class="flex items-start">
                            <div
                                [class]="lang === 'ar'? 'bg-blue-100 text-blue-600 p-2 rounded-full ml-4':'bg-blue-100 text-blue-600 p-2 rounded-full mr-4'">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div>
                                <h4 class="font-medium">{{'LABELS.MOBILE' | translate}}</h4>
                                <p class="text-gray-600"><span dir="ltr"
                                        *ngFor="let item of me.mobiles; let i=index"><span
                                            *ngIf="i !== me.mobiles.length - 1">&nbsp;-&nbsp;</span>{{item}}</span></p>
                            </div>
                        </div>

                        <div class="flex items-start">
                            <div
                                [class]="lang === 'ar'? 'bg-blue-100 text-blue-600 p-2 rounded-full ml-4':'bg-blue-100 text-blue-600 p-2 rounded-full mr-4'">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div>
                                <h4 class="font-medium">{{'LABELS.PHONES' | translate}}</h4>
                                <p class="text-gray-600">
                                    <span dir="ltr" *ngFor="let item of me.phones; let i = index"><span
                                            *ngIf="i !== me.phones.length - 1">&nbsp;-&nbsp;</span>{{item}}</span>
                                </p>
                            </div>
                        </div>

                        <div class="flex items-start">
                            <div
                                [class]="lang === 'ar'? 'bg-blue-100 text-blue-600 p-2 rounded-full ml-4':'bg-blue-100 text-blue-600 p-2 rounded-full mr-4'">
                                <i class="fas fa-fax"></i>
                            </div>
                            <div>
                                <h4 class="font-medium">{{'LABELS.FAX' | translate}}</h4>
                                <p class="text-gray-600">
                                    <span dir="ltr" *ngFor="let item of me.faxes; let i = index"><span
                                            *ngIf="i !== me.faxes.length - 1">&nbsp;-&nbsp;</span>{{item}}</span>
                                </p>
                            </div>
                        </div>

                        <div class="flex items-start">
                            <div
                                [class]="lang === 'ar'? 'bg-blue-100 text-blue-600 p-2 rounded-full ml-4':'bg-blue-100 text-blue-600 p-2 rounded-full mr-4'">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div>
                                <h4 class="font-medium">{{'LABELS.EMAIL' | translate}}</h4>
                                <p class="text-gray-600">
                                    <a [href]="'mailto:' + item" target="_blank" dir="ltr"
                                        *ngFor="let item of me.emails; let i = index"><span
                                            *ngIf="i !== me.emails.length - 1">&nbsp;-&nbsp;</span>{{item}}</a>
                                </p>
                            </div>
                        </div>

                        <div class="flex items-start">
                            <div
                                [class]="lang === 'ar'? 'bg-blue-100 text-blue-600 p-2 rounded-full ml-4':'bg-blue-100 text-blue-600 p-2 rounded-full mr-4'">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div>
                                <h4 class="font-medium">{{'LABELS.ADDRESS' | translate}}</h4>
                                <p [innerHtml]="lang === 'ar'? me.address_ar : me.address_en" class="text-gray-600">
                                    صندوق البريد: 1715<br>
                                    الأحساء - المملكة العربية السعودية<br>
                                    الرمز البريدي: 31982
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="flex space-x-4 space-x-reverse mt-6">
                        <a *ngFor="let item of me.social_links"
                            [matTooltip]="(lang === 'ar'? item.name_ar : item.name_en) + ': '+ item.username"
                            [href]="item.url" target="_blank"
                            class="bg-blue-100 text-blue-600 p-3 rounded-full hover:bg-blue-200">
                            <i [class]="item.icon"></i>
                        </a>
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="bg-white p-6 rounded-lg shadow-sm">
                    <h3 class="text-xl font-semibold mb-4">{{'LABELS.SEND_A_MESSAGE' | translate}}</h3>

                    <form>
                        <div class="mb-4">
                            <label for="name" class="block text-gray-700 mb-2">{{'LABELS.NAME' | translate}}</label>
                            <input #name type="text" id="name"
                                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        </div>

                        <div class="mb-4">
                            <label for="mobile" class="block text-gray-700 mb-2">{{'LABELS.MOBILE' | translate}}</label>
                            <input #mobile type="mobile" id="tel"
                                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        </div>

                        <div class="mb-4">
                            <label for="subject" class="block text-gray-700 mb-2">{{'LABELS.SUBJECT' |
                                translate}}</label>
                            <input #subject type="text" id="subject"
                                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        </div>

                        <div class="mb-4">
                            <label for="message" class="block text-gray-700 mb-2">{{'LABELS.MESSAGE' |
                                translate}}</label>
                            <textarea #message id="message" rows="4"
                                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                        </div>

                        <button (click)="sendMessage(name.value, mobile.value, subject.value, message.value)"
                            class="w-full bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                            {{'BUTTONS.SEND_THE_MESSAGE' | translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white py-8">
        <div class="container mx-auto px-4">
            <div class="flex flex-col md:flex-row justify-between items-center">
                <div class="mb-4 md:mb-0">
                    <p class="text-gray-400" [innerHtml]="'LABELS.COPYRIGHT' | translate">جميع الحقوق محفوظة &copy; 2025
                        شرف العلي</p>
                </div>

                <div class="text-center md:text-right">
                    <p class="text-gray-400">{{'LABELS.DEVELOPED_BY' | translate}}:</p>
                    <a href="https://abdullah-alsalem-cv.netlify.app" target="_blank"
                        class="text-blue-400 hover:text-blue-300">
                        {{'LABELS.DEVELOPER_NAME' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>